{% extends "master" %}

{% block content %}
<div class="container container-container">
  <div class="card card-width">
  <div class="card-content grey-text-darken-2">
  <span class="card-title">Log in</span>
<div class="row">
    <form class="col s12" action="/register" method="POST">
      {{ csrfField }}
      <div class="row">
        <div class="input-field col s12">
          <input id="user_name" type="text" name="user_name" class="validate">
          <label for="user_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 right-align ">
          <a href="/register" class="waves-effect waves-light btn grey lighten-1">
            <i class="material-icons left">assignment_ind</i>Register</a>
        </div>
        <div class="col s6 left-align">
        <button type="submit" class="waves-effect waves-light btn blue darken-3">
          <i class="material-icons right">call_made</i>Log in</button>
        </div>
          </div>
    </form>
  </div>
</div>
</div>
</div>

{% endblock %}
